body {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FCF7E4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}



/* main */
main {
    padding: 1rem;
}
.contenedor_A
{
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height to center vertically */
}
#menuArt {
    max-width: 100%; /* Ensure the image scales with the container */
    max-height: 100%; /* Ensure the image scales with the container */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}



/* Footer */ 
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}