body {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FCF7E4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}



/* main */
main {
    padding: 1rem;
}
.contenedor_A
{
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.contenedor_A img {
    max-width:75%; /* Ensure the image scales with the container */
    max-height: 75vh; /* Ensure the image scales with the container */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 2rem; /* Space between images */
}
#menuArt {
    max-height: 75vh; /* Ensure the image scales with the container */
    padding-top: 4vh;
}
#scrollDown {
    max-width: 3%;
    max-height: 20vh; /* Ensure the image scales with the container */
    padding-top: 2.2vh;
}
p {
    margin: 5% 10% 2%;
}
#title
{
    font-size: clamp(35px, 525%, 85px);
    color: #314148;
    margin-bottom: 0;
    padding-bottom: 0;
}
#problemStatement {
    font-size: 325%;
    line-height: 145%;
}
a {
    display: flex; /* Use flexbox for the link */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}
#playButton {
    margin: 0;
    max-width:60%; /* Ensure the image scales with the container */
}
#howToPlay, #mobile {
    color: #007BFF; /* Blue text */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1.75rem; /* Increase font size */
    font-weight: bold; /* Bold text */
    white-space: nowrap; /* Prevent text from wrapping */
    margin-bottom: 3%;
}
#mobile {
    margin-bottom: 1%;
}



/* Responsive */
@media (min-width: 0px) {
    #scrollDown {
        display: none;
    }
    #title
    {
        font-size: clamp(2px, 125%, 85px);
    }
    #problemStatement {
        font-size: 65%; /* Increase font size to 18px when viewport width is 600px or more */
    }
    #howToPlay, #mobile {
    font-size: .75rem; /* Increase font size */
    }
}
@media (min-width: 400px) {
    #scrollDown {
        display: none;
    }
    #title
    {
        font-size: clamp(18px, 225%, 85px);
    }
    #problemStatement {
        font-size: 105%; /* Increase font size to 18px when viewport width is 600px or more */
    }
    #howToPlay, #mobile {
    font-size: 1.25rem; /* Increase font size */
    }
}
@media (min-width: 800px) {
    #scrollDown {
        display: none;
    }
    #title
    {
        font-size: clamp(20px, 325%, 85px);
    }
    #problemStatement {
        font-size: 125%; /* Increase font size to 18px when viewport width is 600px or more */
    }
    #howToPlay, #mobile {
    font-size: 1.25rem; /* Increase font size */
    }
}
@media (min-width: 1000px) {
    #scrollDown {
        display: block;
    }
    #title
    {
        font-size: clamp(35px, 525%, 85px);
    }
    #problemStatement {
        font-size: 175%; /* Increase font size to 18px when viewport width is 1000px or more */
    }
    #howToPlay, #mobile {
    font-size: 1.55rem; /* Increase font size */
    }
}
@media (min-width: 1250px) {
    #scrollDown {
        display: block;
    }
    #problemStatement {
        font-size: 325%; /* Increase font size to 18px when viewport width is 1000px or more */
    }
    #howToPlay, #mobile {
    font-size: 1.75rem; /* Increase font size */
    }
}




/* Add styles for the QR code */
#qrCode {
    width: 150px; /* Set the width of the QR code */
    margin-top: 20px; /* Space above the QR code */
}

/* Footer styles */
.main-footer {
    background-color: #e5dfdf38;
    color: #000000;
    text-align: center;
    font-size: larger;
    padding: 1rem 0;
    margin-top: auto;
}

.main-footer p {
    margin: 0.2rem 0; /* Reduce the vertical space between paragraphs */
}

.main-footer a {
    color: #007BFF;
    text-decoration: none;
}

.main-footer a:hover {
    text-decoration: underline;
}

#viewportWidth {
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
}